<html>
  <body>
    <h1>Hello, world from my template file!</h1>
    <h2>ipaddress: <%= node["ipaddress"] %></h2>
    <h2>hostname: <%= node["hostname"] %></h2>
    <h2>default gw: <%= node["network"]["default_gateway"] %></h2>
    <img src="cubs_logo.jpg">
</body>
</html>

